<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748290668890-3rulgkesd8nhgb73j9c57hfrilto4vbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748290668890-3rulgkesd8nhgb73j9c57hfrilto4vbk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>748290668890-8oqhjqhufhatb1pj91004l4csqemp9sf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUifWIpBJ27fnXZA2QZBOPh-IyIzdVQfM</string>
	<key>GCM_SENDER_ID</key>
	<string>748290668890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.everhealthcare.ever</string>
	<key>PROJECT_ID</key>
	<string>ever-oma-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>ever-oma-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748290668890:ios:3e456263a5e8e34fd4db63</string>
	<key>DATABASE_URL</key>
	<string>https://ever-oma-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>